table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

th,td {
  border : 1px solid #dddddd;
  text-align: center;
  padding: 8px;

}
 th {
   background-color: #04AA6D;
   color: white;

 }
   tr:nth-child(odd) {
     background-color: #dddddd;
     color: #04AA6D;
     text-emphasis: #04AA6D;

   }

